*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.outer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: black; */
}

.pageslinks{
  display: flex;
  gap: 5rem;
  text-decoration: none !important;
  color: #ebebeb;
  list-style-type: none;
}

.pagesbtns{
  display: flex;
  gap: 3rem;
  
}